$background-color-1: #01153e;
$background-color-2: #010b25;
$text-color-1: #4581c4;
$text-color-2: #8396b8;
$text-color-3: #ffffff;
$color-error: #b4102c;
$color-success: #0ea81a;
$color-info: #0a40ac;
$color-disabled: #36393c;


$z-minus-1: -1;
$z-1: 1;
$z-2: 2;
$z-100: 100;
